@import "../../styles/variables";

.table {
  padding: 16px;
  background: #f7f9f9;
}

.table__heading {
  font-size: 1rem;
  padding: 0 4px;
  margin: 0 auto ;
}


.table__heading__button {
  margin: 0 0 0 8px;
  border: none;
  background: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline-width: 2px;
    outline-color: $color-sub;
  }
}

.table__content__open {
  margin: 8px 0 0;
  max-height: 1000px;
  transition: max-height 0.4s;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    margin: 0;
    padding: 4px 0;
    font-size: 0.9em;
  }
  a {
    display: block;
    padding: 4px;
    border-bottom: 1px solid $color-border;
    color: $color-font-dark;
    &:hover {
      text-decoration: none;
    }
  }
}

.table__content__close {
  overflow: hidden;
  max-height: 0;
}
