@charset 'utf-8';
@import '../../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css';
@import '_variables';

html {
  background: $color-base;
}
body {
  background: inherit;
  color: $color-text;
  font-family: 'Noto Sans JP', cursive;
}
