// みどりっぽいの
// $color-main: #8F9D84;
// $color-highlight: #f2f6e8;
// $color-white: #FFFFFF;
// $color-border: #ecebea;
// $color-sub: #7BB8BE;
// $color-font-dark: #53463C;
// $color-font-light: #A87F6E;

$color-main: #6E6BAF;
$color-sub: #9A91C9;
$color-sub-light: #CAC4CE;
$color-light: #F7EAE0;
$color-highlight: #FFFCEE;
$color-white: #FFFFFF;
$color-border: #ecebea;
$color-font-dark: #53463C;
$color-font-light: #A87F6E;
