@import 'bootstrap/dist/css/bootstrap-reboot';
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import './variables';

html {
  background: $color-light;
  -webkit-font-smoothing: antialiased;
  font-kerning: auto;
  font-variant-ligatures: none;
  font-family: -apple-system-body,BlinkMacSystemFont,Helvetica Neue,Helvetica Sans,Hiragino Kaku Gothic ProN,"Noto Sans Japanese","游ゴシック  Medium","Yu Gothic Medium","メイリオ",meiryo,sans-serif;
}

body {
  background: none;
  color: $color-text;
}

a {
  color: $color-text;
  text-decoration: underline;
  transition: color 0.2s;
  &:hover {
    color: $color-main;
  }
}
