@import 'bootstrap/dist/css/bootstrap-reboot';
@import './variables';

html {
  background: $color-white;
}

body {
  background: none;
  color: $color-font-dark;
}

a {
  color: $color-sub;
  transition: color 0.2s;
  &:hover {
    color: $color-font-dark;
  }
}
