@import '../../styles/variables';

.header {
  padding: 16px 32px;
}

.header__heading {
  width: 100%;
  max-width: 696px;
  margin: auto;
  a {
    color: $color-text;
    font-family: 'Reenie Beanie';
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
}

.header__text {
  display: none;
  color: $color-text;
  font-size: 1rem;
}
