@import '../../styles/variables';

.header {
  display: none;
  padding: 16px;
}

.header__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-main;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  a {
    color: $color-white;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2rem;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
}

.header__text {
  color: $color-white;
  font-size: 1rem;
}
