@import '../../styles/variables';

.footer {
  margin: 0 auto;
}

.footer__wrap {
  width: 100%;
  max-width: 696px;
  margin: auto;
  padding: 16px;
}

.footer__copyright {
  margin: 8px 0 0;
  display: block;
  color: $color-text;
  text-align: right;
}
