@import "../../styles/variables";

.posts {
  margin: auto;
  padding: 48px 16px;
  width: 100%;
  max-width: 796px;
}

.posts__post {
  margin: 0 auto 24px;
  padding: 0 0 16px;
  border-bottom: 1px solid $color-border;
}

.posts__post__heading {
  margin: 0 auto 20px;
  color: $color-dark;
  font-size: 1.2rem;
  a {
    color: currentColor;
    transition: color 0.4s;
    &:hover {
      color: $color-accent;
      text-decoration: none;
    }
  }
}

.posts__post__description {
  margin: 0 auto 16px;
  color: $color-dark;
}

.posts__post__date {
  margin: 0 8px 8px 0;
  color: $color-light;
  font-size: 0.9rem;
}

.posts__post__tags {
  display: inline-flex;
  margin: 0 auto 8px;
  padding: 0;
  flex-wrap: wrap;
}

.posts__post__tags__tag {
  margin: 0 4px 0;
  color: $color-accent;
  font-size: 0.9rem;
  list-style-type: none;
  &::before {
    content: '#';
  }
}
