@import "../../styles/variables";

.post {
  margin: 48px auto 0;
  padding: 0 16px;
  width: 100%;
  max-width: 696px;
}

.post__wrap {
  position: relative;
  margin: auto;
  padding: 28px 36px 16px;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '((';
    font-size: 1.6rem;
    font-family: 'Reenie Beanie';
    transform: rotate(-20deg);
  }
}

.post__wrap__heading {
  margin: 0 0 16px;
  color: $color-text;
  font-size: 2rem;
  font-weight: 400;
}

.post__wrap__date {
  margin: 0 auto 28px;
  color: $color-text;
  font-size: 0.7rem;
  font-weight: bold;
}

.post__wrap__tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 28px;
  padding: 0;
}

.post__wrap__tags__tag {
  margin: 0 4px 4px 0;
  padding: 0px 8px;
  border-radius: 2px;
  background: $color-main;
  color: $color-light;
  font-size: 0.9rem;
  list-style-type: none;
  a {
    color: currentColor;
    text-decoration: none;
    &:hover {
      color: currentColor;
      text-decoration: none;
    }
  }
}

.post__back {
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.wrap {
  margin: auto;
  padding: 1px 16px;
  width: 100%;
  max-width: 696px;
}

.markdown {
  margin: 16px 0 48px;
  padding: 16px 0 48px;
  line-height: 1.8em;

  :nth-child(1) {
    margin-top: 0 !important;
  }

  h1 {
    margin: 78px auto 24px;
    padding: 0 0 4px;
    font-size: 1.3rem;
  }
  h2 {
    margin: 60px auto 24px;
    padding: 0 0 4px;
    font-size: 1.3rem;
  }
  h3 {
    margin: 48px auto 24px;
    font-size: 1rem;
  }
  h4 {
    margin: 48px auto 24px;
    font-size: 1.2rem;
    font-weight: normal;
  }
  
  blockquote {
    padding: 25px 36px;
    background: rgba(255, 255, 255, 0.8);
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    position: relative;
    padding: 0 0 0 20px;
    &::before {
      content: '■';
      display: block;
      position: absolute;
      left: 0;
      width: 16px;
      color: $color-text;
      text-align: center;
    }
  }

  p {
    line-height: 1.8em;
  }

  div {
    margin: 24px 0;
  }

  img {
    max-width: 100%;
  }
}
