@import "../../styles/variables";

.post {
  margin: 0;
}

.post__wrap {
  margin: auto;
  padding: 32px 16px 16px;
  width: 100%;
  max-width: 796px;
}

.post__wrap__heading {
  margin: 0 0 4px;
  color: $color-font-dark;
  font-size: 2.5rem;
  font-weight: 400;
}

.post__wrap__date {
  margin: 0 auto 16px;
  color: $color-font-light;
  font-size: 0.9rem;
}

.post__wrap__tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 28px;
  padding: 0;
}

.post__wrap__tags__tag {
  margin: 0 4px;
  list-style-type: none;
  color: $color-sub;
  font-size: 0.9rem;
}

.wrap {
  margin: auto;
  padding: 1px 16px;
  width: 100%;
  max-width: 796px;
}

.markdown {
  margin: 16px 0 48px;
  padding: 16px 0 48px;
  line-height: 1.8em;

  :nth-child(1) {
    margin-top: 0 !important;
  }

  h1 {
    margin: 78px auto 24px;
    padding: 0 0 4px;
    font-size: 1.3rem;
  }
  h2 {
    margin: 60px auto 24px;
    padding: 0 0 4px;
    font-size: 1.3rem;
  }
  h3 {
    margin: 48px auto 24px;
    font-size: 1.2rem;
  }
  
  blockquote {
    padding: 25px 36px;
    background: #f7f9f9;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    position: relative;
    padding: 0 0 0 16px;
    &::before {
      content: '-';
      display: block;
      position: absolute;
      left: 0;
      width: 16px;
      color: $color-sub;
      text-align: center;
    }
  }

  p {
    line-height: 1.8em;
  }

  div {
    margin: 24px 0;
  }
}
