@import "../../styles/variables";

.posts {
  margin: auto;
  padding: 48px 16px;
  width: 100%;
  max-width: 796px;
}

.posts__heading {
  text-align: center;
  font-size: 1.8rem;
  margin: 0 auto 58px;
  color: $color-font-light;
  font-weight: normal;
}
